


.header { 
    display: flex;
    justify-content: center;
    font-size: 2em;
    align-content: center;
    font-family: 'Merriweather', serif;
   
}


.about-me {
    margin-top: 2em;
    max-width: 850px;
    margin: 2rem auto;
    padding: 1rem;
    line-height: 2.5em;
    /* background-color: #84a98c; */
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 3rem;
}

h2 {
    color: #2f3e46;
    margin: 0;
}

.content {
    display: flex;
    align-items: center;
}

.profile-image {
    border-radius: 10px;
    margin-right: 1rem;
    width: 22em;
    height: 21em;
}

.text {
    flex-grow: 1;
    font-family: 'Merriweather', serif;
}




@media (max-width: 600px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .header {
        line-height: 2em;
    }


    .profile-image {
        margin-right: 0;
        margin-bottom: 1rem;
        width: 16em;
        height: 15em;
        
    }
}




/* p {
    color: #52796f;
} */